---
import Layout from '../layouts/common.astro';
---
<Layout title="Blog">
    <div class="mb-10 p-8 bg-white border border-gray-200 rounded-2xl shadow-sm flex flex-col">
        <p class="mb-6 text-gray-400 uppercase text-sm">Feb 10 2022</p>
        <h3 class="text-3xl font-semibold text-gray-900">February big update</h3>
        <p class="mt-6 text-gray-500">Today we introduced a new big update ....</p>
    </div>
    
    <div class="mb-10 p-8 bg-white border border-gray-200 rounded-2xl shadow-sm flex flex-col">
        <p class="mb-6 text-gray-400 uppercase text-sm">Jan 06 2022</p>
        <h3 class="text-3xl font-semibold text-gray-900">Some news</h3>
        <p class="mt-6 text-gray-500">Today we introduced a new big update ....</p>
    </div>
</Layout>