---
import Layout from '../layouts/common.astro'
---
<Layout title="Use this great tool">
	<p class="text-center text-gray-700 text-lg">Tagline that describes the tool</p>
	<button class="block text-white bg-green-500 px-5 py-3 mx-auto mt-10 font-bold rounded-lg">Sign up now</button>
	
	<p class="mt-20 text-2xl font-extrabold text-gray-900 tracking-tight">
		Everything you need to know about this app
	</p>
	<p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
		A great list of things it allows you to do
	</p>

	<div class="mt-12 grid gap-8 grid-cols-1 md:grid-cols-2">
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">First benefit</h3>
			<p class="mt-5 text-gray-500">
				You can save time
			</p>
		</div>

		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Second benefit</h3>
			<p class="mt-5 text-gray-500">
				You can save money
			</p>
		</div>
		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">3rd benefit</h3>
			<p class="mt-5 text-gray-500">
				You can avoid X
			</p>
		</div>

		<div class="bg-gray-50 rounded-lg px-6 pb-8">
			<h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">4th benefit</h3>
			<p class="mt-5 text-gray-500">
				You can do Y
			</p>
		</div>			
	</div>
</Layout>
