---
const { title } = Astro.props;
const url = new URL(Astro.request.url).pathname;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{ title }</title>
	</head>
	
	<body class="bg-gray-200">
		<div class="py-8">
			<nav class="flex justify-center space-x-10 pb-10">
				<a href="/" class={url === '/' ? 'font-bold text-gray-800 hover:text-gray-600' : 'font-medium text-gray-500 hover:text-gray-900'}>Home</a>
				<a href="/pricing" class={url === '/pricing' ? 'font-bold text-gray-800 hover:text-gray-600' : 'font-medium text-gray-500 hover:text-gray-900'}>Pricing</a>
				<a href="/blog" class={url === '/blog' ? 'font-bold text-gray-800 hover:text-gray-600' : 'font-medium text-gray-500 hover:text-gray-900'}>Blog</a>
				<a href="/login" class="font-medium text-gray-500 hover:text-gray-900">Login</a>
				<a href="/signup" class="font-medium text-white hover:bg-blue-600 bg-blue-500 px-3 py-2 -mt-2 rounded-lg">Sign
					up</a>
			</nav>
	
			<h1 class="mt-10 text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
				{ title }
			</h1>
	
			<div class="mt-20 mx-auto text-center max-w-3xl px-10">
	            <slot />
	        </div>

			<footer class="mt-20 pt-12 border-t-2 border-gray-300">
				<nav class="flex justify-center pb-10 space-x-10">
					<a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
					<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
					<a href="/blog" class="font-medium text-gray-500 hover:text-gray-900">Blog</a>
				</nav>
				<p class="text-center text-gray-400">
					&copy; 2022 Great Tool. All rights reserved.
				</p>
			</footer>
	  </div>
	</body>
</html>